.lang {
    height: 500px;
    width: 300px;
    display: inline;
    padding-left: 15px;
}
body, head {
    height: 96vh;
    width: 99vw;
}
body {
    background-color: #000000e7;
    background-image: url(/images/wp15186712-laptop-coding-wallpapers.webp);
    background-size: 2000px;
}
main {
    background-color: #000000;
    height: 97vh;
    width: 45vw;
    margin-left: 30px;
}
#header-content a {
    text-decoration: none;
    gap: 10px;
    border: 1px solid #ffffffcd;
    color: #ffffffcd;
    padding: 5px 2px 5px 2px;
}
#header-content a:hover {
    background-color: #ffffffa7;
}
#header-content {
    padding-left: 100px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    gap: 50px;
    padding-bottom: 90px;
}